*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    text-align: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background-image: linear-gradient(79deg,#c73e65,#a525a5 48%,#0f80dd);
}
.auth-form-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
}
.auth-form-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
   
}
 .alert-danger {
     color: var(--red-dark);
     background: var(--red-light);
 }

 .alert-success {
     color: var(--green-dark);
     background: var(--green-light);
 }
label{
    text-align: left;
    padding: 0.25rem 0;
    color: #ebf6ff;
}
input{
    margin: 0.5rem 0;
    padding: 1rem ;
    border: none;
    border-radius: 10px;
}
button{
    border: none;
    background-color: #ebf6ff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.link-btn{
    background: none;
    color:#ebf6ff;
    text-decoration: underline;
}
 article.activeSlide {
     opacity: 1;
     transform: translateX(0);
 }

 article.lastSlide {
     transform: translateX(-100%);
 }

 article.nextSlide {
     transform: translateX(100%);
 }
.btn{
text-transform: uppercase;
background: var(--clr-primary-5);
color: var(--clr-primary-10);
padding: 0.375rem 0.75rem;
letter-spacing: var(--spacing);
display: inline-block;
font-weight: 400;
transition: var(--transition);
font-size: 0.875rem;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
border-radius: var(--radius);
border-color: transparent;}
.btnleft {
    text-transform: uppercase;
    text-align: left;
    background: var(--clr-primary-5);
    color: var(--clr-primary-10);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 400;
    transition: var(--transition);
    font-size: 0.875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    border-color: transparent;
    align-items: center;
}